#nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#content > div {
  text-align: center;
  font-size: 75px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#content > img {
  width: 50rem;
  align-self: center;
}
